<form action = "/Contacts" method = "POST">
  <div class="form-group">
    <label for="Email">Email</label>
    <input name = "user_email" type="text" class="form-control" id="FirstName"  placeholder="Введите Ваш Email">
  </div>
  <p><b>Введите ваш отзыв:</b></p>
   <p><textarea rows="10" cols="45" name="text"></textarea></p>
  <button type="tel" class="btn btn-primary">Отправить</button>
</form>
