<form action = "/sign_up" method = "POST">
  <div class="form-group">
    <label for="FirstName">Имя</label>
    <input name = "user_firstname" type="text" class="form-control " id="FirstName"  placeholder="Введите Ваше имя">
  </div>
  <div class="form-group">
    <label for="SecondName">Фамилия</label>
    <input name = "user_secondname" type="text" class="form-control " id="SecondName" placeholder="Введите Вашу фамилию">
  </div>
  <div class="form-group">
    <label for="InputNumber">Ваш номер</label>
    <input name = "user_number" type="datetime" class="form-control " id="InputNumber" placeholder="Введите Ваш номер телефона">
  </div>
  <p> Выберите вашего парикмахера </p>
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Предпочтение</label>
  <select name="barber" class="custom-select my-1 mr-sm-2 " id="inlineFormCustomSelectPref">
    <option selected>Выбор...</option>
    <option value="1">Jessie Pinkman</option>
    <option value="2">Walter White</option>
    <option value="3">Gus Fring</option>
  </select>
  <button type="submit" class="btn btn-primary my-1">Отправить</button>
</form>
<script type="text/javascript">

  </script>
