<form action = "/sign_up" method = "POST">
  <div class="form-group">
    <label for="FirstName">Имя</label>
    <input name = "user_firstname" type="text" class="form-control" id="FirstName"  placeholder="Введите Ваше имя">
  </div>
  <div class="form-group">
    <label for="SecondName">Фамилия</label>
    <input name = "user_secondname" type="text" class="form-control" id="SecondName" placeholder="Введите Вашу фамилию">
  </div>
  <div class="form-group">
    <label for="InputNumber">Ваш номер</label>
    <input name = "user_number" type="datetime" class="form-control" id="InputNumber" placeholder="Введите Ваш номер телефона">
  </div>
  <form action = "sign_up" method="POST">
  <p><select name="select" size="3" multiple>
    <p> Выберите вашего парикмахера
   <option selected value="s1">Walter White</option>
   <option value="s2">Jessie Pinkman</option>
   <option value="s3">Gus Fring</option>
  </select>
 </form>
  <button type="tel" class="btn btn-primary">Записаться</button>
</form>
